/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.filter-blur {
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
    transition: filter 0.3s ease;  
  }
  
  #searchModal {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }
  
  #searchModal.opacity-100 {
    opacity: 1;
    pointer-events: all;
  }
  